div.banner {
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--bgColor);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 1s;
  overflow: scroll;
}

/* Hide scrollbar in whilst scrolling games */
.banner::-webkit-scrollbar {
  display: none;
}

/* Genre filter list css */
.filters {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  margin: 20px 0 30px 0;
  padding: 0;
}

.filters li {
  color: #000000;
  padding: 10px 25px;
  transition: 0.3s;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
}

.filters li:hover,
.filters li.active {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.35);
}

/* Search bar */
.search {
  color: #000000;
  display: inline-flex;
  gap: 15px;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 8px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

.search input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.search input:focus {
  color: #000000;
}

.search input::placeholder {
  color: #000000;
}