.gameCard {
    padding: 25px 20px;
    margin-bottom: 10px;
    width: auto;
    height: 400px;
}

.gameCard img {
    object-fit: cover;
    object-position: center;
    height: 10vw;
    width: 100%;
}

.gameCard .like {
    margin-left: 10px;
}

.gameCard .like.active {
    color: red;
}

.gameCard .gameTitle {
    font-family: 'Bauhaus 93';
    text-transform: uppercase;
    font-size: 1.3rem;
}

.gameCard .gamePrice {
    color: black;
}