.index {
    width: 20%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    transition: 1s;
  }

.index .logo {
  font-family: "Russo One", sans-serif;
  font-weight: 800;
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: #000000;
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.index .nav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}

.index .nav li {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 25px;
  transition: 0.5s;
  background: var(--bgColor);
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  transition: 0.5s;
}


.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  /* background-color: white; */
  background: url("../images/bg.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  transition: 0.5s;
}
